<div>
  <select class="form-control" ng-model="recipesSort.order" ng-change="recipesSort.changed()" class="form-controlS">
    <option value="1">Ascending</option>
    <option value="-1">Descending</option>
  </select>
</div>
