<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <form>
        <h3>
          <span>{{recipeDetails.recipe.name}}</span>
        </h3>
        <fieldset>
          <label>Description</label>
          <span>{{recipeDetails.recipe.description}}</span>
        </fieldset>
        <fieldset>
          <label>Secret Recipe</label>
          <span>{{!recipeDetails.recipe.public}}</span>
        </fieldset>
        <fieldset>
          <label>Ingredients</label>
          <ul>
            <li ng-repeat="ingredient in recipeDetails.recipe.ingredients track by $index">
            <span>{{ingredient.measure}}</span>
            <span>-</span>
            <span>{{ingredient.metric}}</span>
            <span>-</span>
            <span>{{ingredient.name}}</span>
            </li>
          </ul>
        </fieldset>
        <fieldset>
          <label>Number Served</label>
          <span>{{recipeDetails.recipe.numberServed}}</span>

          <label>Prep Time</label>
          <span>{{recipeDetails.recipe.prepTime}}</span>

          <label>Total Time</label>
          <span>{{recipeDetails.recipe.totalTime}}</span>
        </fieldset>
        <fieldset>
          <label>Categories</label>
          <ul>
            <li ng-repeat="category in recipeDetails.recipe.categories track by $index">
            <span>{{category.name}}</span>
            </li>
          </ul>
        </fieldset>
        <fieldset>
          <label class="text-left label-spacer">Dishes:</label>
          <span uib-rating read-only="true" ng-model="recipeDetails.recipe.numberOfDishes" max="5" state-on="'glyphicon-stop'" state-off="'glyphicon-unchecked'" aria-labelledby="recipe-number-of-dishes"></span>
        </fieldset>
        <fieldset>
          <label class="text-left label-spacer">Cost:</label>
          <span uib-rating read-only="true" ng-model="recipeDetails.recipe.cost" max="5" state-on="'glyphicon-usd text-success'" state-off="'glyphicon-usd'" aria-labelledby="recipe-cost"></span>
        </fieldset>
        <fieldset>
          <label class="text-left label-spacer">Rating:</label>
          <span uib-rating read-only="true" ng-model="recipeDetails.recipe.rating" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="recipe-rating"></span>
        </fieldset>
        <fieldset class="form-group">
          <label>Directions</label>
          <ul>
            <li ng-repeat="direction in recipeDetails.recipe.directions track by $index">
            <span>{{direction.direction}}</span>
            </li>
          </ul>
        </fieldset>
        <button ng-click="recipeDetails.save()" type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
    <div class="col-xs-6">
      <div layout="row" class="images-container-title" >
        <div class="recipe-image-container">
          <image-upload class="text-center" recipe-id="recipeDetails.recipeId" edit-enabled="false"></image-upload>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <recipe-unshared recipe="recipeDetails.recipe" ng-show="recipeDetails.canInvite()"></recipe-unshared>
    </div>
  </div>
</div>
 {{recipeDetails.recipe}}