recipe-details {
    margin-left: 15%;
    margin-right: 15%;
    display: block;

    form {
        margin: 25px 0;
    }

    .recipe-image-container {
    img {
      max-height: 500px;
      max-width: 500px;
    }
    }
}

@import "../recipeUnshared/recipeUnshared.less";
