#recipes-list {
    display: block;
    padding: 25px 0;
    ul.recipes {
        padding-left: 0;
        list-style-type: none;
        > li {
            padding: 15px;
            background-color: #fff;
            margin: 15px 0;
            border: 3px solid #eaeaea;
            .recipe-name {
                margin-top: 0px;
                margin-bottom: 20px;
                a {
                    text-decoration: none !important;
                    font-weight: 400;
                }
            }
            .recipe-description {
                font-weight: 300;
                padding-left: 18px;
                font-size: 14px;
            }
        }
    }

    button a {
        color: white;
    }

    .add-recipe-btn {
        margin-bottom: 10px
    }
}

@import "../recipeAdd/recipeAdd.less";
@import "../recipeCreator/recipeCreator.less";
