<div class="container-fluid" id="recipes-list">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary add-recipe-btn" ng-click="recipesList.goToAddRecipe()">Add Recipe</button>
      <!-- <recipe-add ng-show="recipesList.isLoggedIn"></recipe-add> -->
      <div class="alert alert-warning" role="alert" ng-hide="recipesList.isLoggedIn">
        <strong>Warning!</strong> Log in to create a recipe!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>List of recipes:</h2>
      <form class="form-inline">
        <div class="form-group">
          <input type="search" ng-model="recipesList.searchText" placeholder="Search" class="form-control" />
        </div>
        <recipes-sort class="form-group" on-change="recipesList.sortChanged(sort)" property="name" order="1"></recipes-sort>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="recipes">
        <li dir-paginate="recipe in recipesList.recipes | itemsPerPage: recipesList.perPage" total-items="recipesList.recipesCount">
          <div class="row">
            <div class="col-sm-8">
              <h3 class="recipe-name">
                <a ui-sref="recipeDetails({ recipeId: recipe.recipeId })">{{recipe.name}}</a>
              </h3>
              <p class="recipe-description">
                {{recipe.description}}
              </p>
            </div>
            <div class="col-sm-4">
              <recipe-remove recipe="recipe" ng-show="recipesList.isOwner(recipe)"></recipe-remove>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <recipe-creator recipe="recipe"></recipe-creator>
            </div>
          </div>
        </li>
      </ul>
      <dir-pagination-controls on-page-change="recipesList.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
  </div>
</div>