reciplease {
		background-color: #F8F8FF;
    display: block;
}


@import "../navigation/navigation.less";
@import "../recipesList/recipesList.less";
@import "../recipeAdd/recipeAdd.less";
@import "../recipeDetails/recipeDetails.less";
@import "../imageUpload/imageUpload.less";
