<form class="form" id="add-recipe">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="row">
        <label class="text-left col-xs-3 label-spacer" for='recipe-name'>*Name:</label>
        <div class="form-group col-xs-9">
          <input class="form-control" id="recipe-name" name="recipe-name" ng-model="recipeAdd.recipe.name" type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9 text-left">
          <image-upload class="text-center" recipe-id="recipeAdd.recipeId" edit-enabled="true"></image-upload>
        </div>
      </div>
      <div class="row">
        <label class="text-left col-xs-3 label-spacer" for="recipe-description">*Serves:</label>
        <div class="form-group col-xs-9">
          <input class="form-control" id="recipe-number-served" placeholder="# of People" name="recipe-number-served" ng-model="recipeAdd.recipe.numberServed" type="text">
        </div>
      </div>
      <div class="row">
        <label class="text-left col-xs-3 label-spacer" for="recipe-description">*Prep Time:</label>
        <div class="form-group col-xs-9">
          <input class="form-control" id="recipe-prep-time" placeholder="# of Mins" name="recipe-prep-time" ng-model="recipeAdd.recipe.prepTime" type="text">
        </div>
      </div>
      <div class="row">
        <label class="text-left col-xs-3 label-spacer" for="recipe-description">*Total Time:</label>
        <div class="form-group col-xs-9">
          <input class="form-control" id="recipe-total-time" placeholder="# of Mins" name="recipe-total-time" ng-model="recipeAdd.recipe.totalTime" type="text">
        </div>
      </div>
      <div class="row">
        <label class="text-left col-xs-3 label-spacer">*Dishes:</label>
        <span uib-rating ng-model="recipeAdd.recipe.numberOfDishes" max="5" state-on="'glyphicon-stop'" state-off="'glyphicon-unchecked'" aria-labelledby="recipe-number-of-dishes"></span>
      </div>
      <div class="row">
        <label class="text-left col-xs-3 label-spacer">*Cost:</label>
        <span uib-rating ng-model="recipeAdd.recipe.cost" max="5" state-on="'glyphicon-usd text-success'" state-off="'glyphicon-usd'" aria-labelledby="recipe-cost"></span>
      </div>
      <div class="row">
        <label class="text-left col-xs-3 label-spacer">*Rating:</label>
        <span uib-rating ng-model="recipeAdd.recipe.rating" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="recipe-rating"></span>
      </div>
      <div class="row">
        <label class="text-left col-xs-12 cat-label label-spacer">*Category:</label>
        <div class="col-xs-12">
          <span>Please select all that apply</span>
        </div>
        <div class="col-xs-12">
          <!-- <div class="">
            <div class="checkdiv" ng-repeat="category in recipeAdd.primaryCategories track by $index">
              <label class="checkbox-inline">
                <input type="checkbox" value="" ng-click="recipeAdd.addOrRemoveCategory(category)">{{category.name}}
              </label>
            </div>
          </div> -->
          <ui-select class="form-control"
                       id="primary-categories"
                       multiple
                       name="categorySelect"
                       ng-model="recipeAdd.recipe.primaryCategories"
                       required>
              <ui-select-match placeholder="Categories">
                <span>{{$item.name}}</span>
              </ui-select-match>
              <ui-select-choices class="rate-select-choices"
                                 repeat="category in recipeAdd.primaryCategories | orderBy: 'name' track by $index">
                <span>{{::category.name}}</span>
              </ui-select-choices>
            </ui-select>
        </div>
      </div>
      <div class="row">
        <label class="text-left col-xs-12 cat-label label-spacer">Secondary Category:</label>
        <div class="col-xs-12">
          <span>Please select all that apply</span>
        </div>
        <div class="col-xs-12">
          <!-- <div class="row">
            <div class="col-xs-4" ng-repeat="category in recipeAdd.secondaryCategories track by $index">
              <label class="checkbox-inline">
                <input type="checkbox" value="" ng-click="recipeAdd.addOrRemoveCategory(category)">{{category.name}}
              </label>
            </div>
          </div> -->
          <ui-select class="form-control"
                       id="primary-categories"
                       multiple
                       name="categorySelect"
                       ng-model="recipeAdd.recipe.secondaryCategories"
                       required>
              <ui-select-match placeholder="Secondary Categories">
                <span>{{$item.name}}</span>
              </ui-select-match>
              <ui-select-choices class="rate-select-choices"
                                 repeat="category in recipeAdd.secondaryCategories | orderBy: 'name' track by $index">
                <span>{{::category.name}}</span>
              </ui-select-choices>
            </ui-select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="text-left cat-label label-spacer">Secret Recipe?</label>
          <input class="checkbox-inline" type="checkbox" ng-model="recipeAdd.recipe.public" ng-true-value="false" ng-false-value="true">
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12">
      <div class="row">
        <div class="attr-label" for="recipe-description">*Description:</div>
        <div class="form-group col-xs-12">
          <textarea class="form-control" rows="4" id="recipe-description" name="recipe-name" ng-model="recipeAdd.recipe.description" type="text"></textarea>
        </div>
      </div>
      <div class="ingredient-section">
        <div class="attr-label">Ingredients:</div>
        <div class="form-group row" ng-repeat='ingredientInput in recipeAdd.ingredientInputs track by ingredientInput.index'>
          <div class="col-md-2 col-xs-6">
            <input class="form-control" id="recipe-ingredients-measure" ng-model="recipeAdd.recipe.ingredients[ingredientInput.index]['measure']">
          </div>
          <div class="col-md-3 col-xs-6">
            <ui-select ng-model="recipeAdd.recipe.ingredients[ingredientInput.index]['metric']">
              <ui-select-match>{{$select.selected.abbr || $select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="metric.name as metric in recipeAdd.possibleMetrics | filter: $select.search track by $index">
                <div ng-bind-html="metric.abbr || metric.name"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="input-group col-md-7 col-xs-12">
            <input type="text" class="form-control" id="recipe-ingredients" ng-model="recipeAdd.recipe.ingredients[ingredientInput.index]['name'] "/>
            <span class="input-group-addon" ng-click="recipeAdd.removeIngredient(ingredientInput.index)">
                <i class="glyphicon glyphicon-remove"></i>
            </span>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <button class="btn btn-default" id="incrementIngredientInputs" name="incrementIngredientInputs" ng-click="recipeAdd.incrementIngredientInputs()">
            <span class="glyphicon glyphicon-plus"></span>
            <span>More Ingredients</span>
          </button>
        </div>
      </div>
      <div class="steps-section">
        <div class="attr-label">Steps:</div>
        <div class="form-group row" ng-repeat='directionInput in recipeAdd.directionInputs track by directionInput.index'>
          <div class="input-group col-xs-12">
            <textarea class="form-control" rows="3" id="recipe-directions" ng-model="recipeAdd.recipe.directions[directionInput.index]['direction']"></textarea>
            <span class="input-group-addon" ng-click="recipeAdd.removeDirection(directionInput.index)">
                <i class="glyphicon glyphicon-remove"></i>
            </span>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <button class="btn btn-default" id="incrementDirectionInputs" name="incrementDirectionInputs" ng-click="recipeAdd.incrementDirectionInputs()">
            <span class="glyphicon glyphicon-plus"></span>
            <span>More Steps</span>
          </button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-12 text-right">
      <button ng-click="recipeAdd.addRecipe()" class="btn btn-success">Add Recipe!</button>
    </div>
  </div>
</form>
