textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.item-pill {
    border: 2px solid #ffff1a;
    border-radius: 5px;
    display: inline-block;
    background-color: #e6ac00;
    padding: 5px;
    margin: 5px;
}

#add-recipe {
    margin-left: 15%;
    margin-right: 15%;
}

.label-spacer{
    padding: 0;
    width: 100px;
    min-width: 100px;
}

.measure-input {
    width: 15%;
    margin-right: 5%;
}

.ingredient-section {
    margin-bottom: 5%;
}

.attr-label {
    margin-bottom: 2%;
    font-weight: bold;
}

.checkdiv {
    word-wrap: break-word;
    display: inline-block;
    width: 50%
}

.cat-label {
    margin-top: 5%;
    width: auto;
}

#add-recipe {
  margin-bottom: 50px;
}