<h4>Users to share with:</h4>
<ul>
  <li ng-repeat="user in recipeUnshared.users | unsharedFilter:recipeUnshared.recipe">
    <button ng-click="recipeUnshared.share(user)" class="btn btn-primary-outline">Share</button>
    {{ user | displayNameFilter }}
  </li>
</ul>
<div class="alert alert-success" role="alert" ng-if="(recipeUnshared.users | unsharedFilter:recipeUnshared.recipe).length <= 0">
  Has been shared with everyone already.
</div>
