<div layout="column">
  <div ngf-drop
    ngf-select
    ngf-change="imageUpload.addImages($files)"
    ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
    class="drop-box"
    ngf-multiple="false"
    ngf-allow-dir="false"
    ngf-accept="'image/*'"
    ngf-drop-available="true"
    ng-hide="imageUpload.cropImgSrc || imageUpload.recipeImage">
    <div>Click here to select image</div>
    <div>
      <strong>OR</strong>
    </div>
    <div>You can also drop image to here</div>
  </div>
  <div layout="row" class="images-container-title" ng-if="imageUpload.cropImgSrc || imageUpload.recipeImage">
    <div class="recipe-image-container col-xs-6">
      <img ng-class="{ 'thumb-img': imageUpload.editEnabled}" ng-src="{{ imageUpload.cropImgSrc || imageUpload.recipeImage.url }}"/>
    </div>
    <div class="col-xs-6" ng-if="imageUpload.editEnabled">
        <button class="btn btn-primary col-xs-12 modify-btns" ng-click="imageUpload.save()">
          Save Image
        </button>
        <button class="btn btn-primary col-xs-12 modify-btns" ng-click="imageUpload.reset()">
          Change
        </button>
    </div>
  </div>
  <div layout="row" class="images-container-title">
    <div class="recipe-image-container" ng-class="{'main-image': $index === 0}" ng-repeat="thumb in imageUpload.thumbs">
      <img ng-src="{{ thumb.url }}"/>
    </div>
  </div>
</div>