image-upload {
  .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 170px;
    height: 170px;
  }
  .drop-box.dragover {
    border: 5px dashed blue;
  }
  .drop-box.dragover-err {
    border: 5px dashed red;
  }
  .modify-btns {
    margin: 5px;
  }
  .recipe-image-container {
    position: relative;
    margin-right: 10px;
    max-height: 170px;
    max-width: 170px;
    padding: 10px;
  }
  .thumb-img {
    max-height: 100%;
    max-width: 100%;
  }
}